body{
	background-color:#ffffff;	
}
.title1{
	font-family:"papyrus",fantasy;
	font-size:150px;
	text-align:center;
	color:#736325;
}
.btn{
	color:#736325;
	border: 2px solid #736325;
}
.btn1{
	color:#736325;
	border: 2px solid #736325;
	display:none;
}
.btn2{
	color:#736325;
	border: 2px solid #736325;
	display:none;
}
.btn3{
	color:#736325;
	border: 2px solid #736325;
	display:none;
}

.palm{
	width:100%;
}
.quiz1{
	font-family:"papyrus",fantasy;
	font-size:100px;
	text-align:center;
	color:#736325;
}
.question{
	font-family:"papyrus",fantasy;
	font-size:50px;
	text-align:center;
	color:#736325;
}
.right{
	font-family:"papyrus",fantasy;
	font-size:150px;
	text-align:center;
	color:#736325;
}
.wrong{
	font-family:"papyrus",fantasy;
	font-size:150px;
	text-align:center;
	color:#736325;
}
.btnright{
	color:#736325;
	border: 2px solid #736325;
	display:none;
}
.btnwrong{
	color:#736325;
	border: 2px solid #736325;
	display:none;
}
